<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>数据查询</title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
  <link href="css/bootstrap-table.css" rel="stylesheet" type="text/css" />
    <script src="jquery.js"></script>
</head>
<body>
 <div id="web_bg" style="background-image: url(https://www.nefu.edu.cn/__local/8/6E/03/DC558597EB2D611CB8A18171F4E_078D666F_1C56B.jpg?e=.jpg);">
    <link rel="stylesheet" href="style.css" type="text/css" />
    <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
            <div class="navbar-header">
                    <a class="navbar-brand" href="main.html" style="margin-left: 10px">首页</a>
                <a class="navbar-brand" href="select.html" style="margin-left: 10px">学生干部数据管理</a>
                <a class="navbar-brand" href="add.html" style="margin-left: 10px">新增学生干部</a>
            </div>
        </nav>
<div style="border:4px dashed #000;width:800px;height: 100px;background: #d2ddfa;margin:0 auto;margin-top: 80px">
    <h1 style="text-align:center;margin-top: 10px;line-height: 82px">欢迎来到东北林业大学学生干部管理系统</h1>
</div>
</div>
    </body>
    <style type="text/css"> 
     #web_bg{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  min-width: 1000px;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center;
}
        </style> 
</html>  